@model Final_Project.Models.Root

<h2>Card Info</h2>

<div> style="display: block">
    <a href="/Card/DispayCard/">Card Information</a>
</div>

<table class="table" >
    <tr>
        <th>Name</th>
        <th>Variant</th>
        <th>Card Number</th>
        <th>Rarity</th>
        <th>Card ID</th>
        <th>High Price</th>
        <th>Low Price</th>
        <th>Market Price</th>

    </tr>

    @foreach (var product in @Model.results)
    {
        <tr>
            <td>@product.name</td>
            <td>@product.variant</td>
            <td>@product.cardNumber</td>
            <td>@product.rarity</td>
            <td>@product.cardId</td>
            <td>@product.prices.tcgPlayer[1].high.amountInMinorUnits</td>
            <td>@product.prices.tcgPlayer[1].low.amountInMinorUnits</td>
            <td>@product.prices.tcgPlayer[1].market.amountInMinorUnits</td>
        </tr>
    }
</table>
